@use "global" as *;
.archive-home__wrapper{
    margin-top:rem(52);
    @include mq('md'){
        display:flex; 
        justify-content: center;
        gap:rem(80); 
        margin-top:rem(150); 
        min-width: rem(294);     
    }
}
.archive-home__main{
    width:100%;
    @include mq('md'){
        width:65%;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }    
}
.archive-home__side{
    max-width:rem(294);
    width:100%;
    margin-inline:auto;
    display:flex;
    flex-direction:column;
    gap:rem(80);
    margin-top:rem(80);
    @include mq('md'){
        margin-top:0;
        width:27%;
    }
}
.archive-home__wp-pagenavi{
    margin-top:rem(80);
}