@use "global" as *;
.blog__background{
    display:none;
    @include mq('md'){
        display:block; 
    }
}
.blog__background img{
    height: 100%;
    object-fit: cover;
    @include mq('md'){
    aspect-ratio:1440/500 ;
    min-height:rem(500);
}
}
.inner.blog__inner{
    padding-right:rem(21);
    padding-left:rem(21);
    @include mq('md'){
        margin-top:rem(-250);
    }
}
.section-title.blog__section-title{
    @include mq('md'){
        position:absolute;
        top:131px;
        left:50%;
        transform:translate(-50%,-50%);
    }
}
.blog__btn{
    display:flex;
    justify-content:center;
    margin-top:rem(40);
    @include mq('md'){
        margin-top:rem(80);
    }
}
.blog__content{
    display:grid;
    row-gap:rem(40);
    margin-top:rem(24);
    margin-top: rem(31);
    @include mq('md'){
        // position: relative;
        grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
        column-gap:rem(40);
        margin-top:0;
        // top: -247px;
    }
}
.section-title .blog__section-title{
    color:$white;
    @include mq('md'){
        color:$main-green;
    }
}
.blog__section-title .section-title__primary::first-letter{
    @include mq('md'){
        color:$white;
    }
}