@use "global" as *;
.inner.blog__inner{
    padding-right:rem(21);
    padding-left:rem(21);
    @include mq('md'){
        padding-right:25px;
        padding-left:25px;   
    }
}
.blog__btn{
    display:flex;
    justify-content:center;
    margin-top:rem(40);
    @include mq('md'){
        margin-top:rem(80);
    }
}
.blog__content{
    display:grid;
    row-gap:rem(40);
    margin-top:rem(28);
    @include mq('md'){
        grid-template-columns: repeat(3, 1fr);
        column-gap:rem(40);
        margin-top:rem(80);
        //grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    }
}
.section-title .blog__section-title{
    color:$white;
    @include mq('md'){
        color:$main-green;
    }
}
.blog__section-title .section-title__primary::first-letter{
    @include mq('md'){
        color:$white;
    }
}