@use "global" as *;
.campaign__slide{
    width: rem(280);
    @include mq('md'){
        width: rem(334);
    }
}
.inner.campaign__inner{
    margin: auto;
    width: 100%;
    @include mq(md){
        max-width: rem(1130);
    }
}
.campaign__swiper {
    margin-right: calc(50% - 50vw);
    overflow-x:hidden;
    // width: 100vw;
    margin-top:rem(27);
    @include mq('md'){
            margin-top:rem(40);
    }
}
.campaign-swiper__wrapper{
    padding-bottom:rem(10);
    padding-left:rem(2);
}
.campaign__btn{
    text-align:center;
    margin-top: rem(30);
    @include mq('md'){
    margin-top: rem(66);
}
}

//swiperのボタン
//swipeナビボタンのデフォルト矢印打消し
.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}
.campaign__btn-wrap{
    @include mq('md'){
        display:flex;
        position:absolute;
        right:12%;
        top:0;
        height:rem(80);
    }   
}
.campaign__btn-wrap .swiper-button-next {
    @include mq('md'){
        margin-left: rem(96);
    }
}
.campaign-prev,
.campaign-next{
    @include mq('md'){
        position: initial;
        margin-top:0;/*デフォルト打消し*/
        width: rem(80);
        height:rem(80);
        background-color:$white;
        border-radius: 50%;
        border: 1px solid $main-green;
        transition: all 0.3s; 
    }   
}
.campaign__btn-wrap .campaign-prev::before,
.campaign__btn-wrap .campaign-next::before {
    @include mq('md'){
        content: "";
        position: absolute;
        width: rem(40);
        height: rem(8);
        background-size: contain;
        background-repeat:no-repeat;
    }
    
} 
.campaign__btn-wrap .campaign-prev::before {
    @include mq('md'){
        background-image:url(../images/common/prev-arrow.png);
    }
}
.campaign__btn-wrap .campaign-next::before {
    @include mq('md'){
        background-image:url(../images/common/next-arrow.png)
    }
    
}
.campaign-next:hover,
.campaign-prev:hover{
    @include mq('md'){
        background-color:$main-green;
    }
    
}
.campaign__btn-wrap .campaign-prev:hover::before,
.campaign__btn-wrap .campaign-next:hover::before {
    @include mq('md'){
    filter: brightness(0) invert(1);
    }
}

