@use "global" as *;
.header{
    position: fixed;
    background-color:rgba(13, 41, 54, 0.68);
    height:rem(80) ;
    width: 100%;
    @include mq('md'){
        height:rem(90) ;
    }
}
.header__inner{
    padding-left: rem(15);
    padding-right: rem(15);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq('md'){
        padding-left: rem(40);
        padding-right: rem(40);
    }
}
.header__logo{
    max-width: rem(102);
    width: 100%;
    height: inherit;
    @include mq('md'){
    max-width: rem(133);
    }
}
.header__logo-link{
    height: inherit;
    display: flex;
    align-items: center;
    transition:all 0.3s;
}
.header__pc-nav{
    height:inherit;
}
