@use "global" as *;
.layout-contact{
    padding-top:rem(81);
    padding-bottom:rem(100);
    position:relative;
    // filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
    @include mq('md'){
        padding-top:rem(100);
        padding-bottom:rem(160);
    }
}
.layout-contact::before{
        position: absolute;
        content: "";
        right:4%;
        top:7%;
        height:rem(50);
        width:rem(109);
        background:url(/assets/images/common/contact-icon.png) no-repeat;
        background-size:contain;
        @include mq('md'){
            height:rem(138);
            width:rem(301);
            top:7%;
            right:3%;        
        }
}